<a href="https://colab.research.google.com/github/pandiarajan-src/IKJourney/blob/main/concepts/Pandas_demo0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## What is Pandas? (comes from Panel Data)

- Pandas is a powerful python library widely used for data manipulation and analyis.
- Pandas ofers data structures and functions that simplify working with structured data, making it an essential tool in data science and analysis.

## Why use Pandas

- Using Pandas offers several benefits for data manipulation and data analysis.
  - Efficient Data Handling
  - Data Alignment
  - Handling missing data
  - Data Integration
  - Flexible Data Transformation
  - Integration with other libraries

In [1]:
! pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in /Users/pandi/source/IKJourney/.venv/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/pandi/source/IKJourney/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/pandi/source/IKJourney/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl (11.3 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [2]:
import pandas as pd

## Data Structures in Pandas

- Pandas `Series` is 1-dimensional array with axis labels
- Panads `DataFrame` is 2-dimensional data structure with labeled rows and columns. (more than one series forms a dataframe)

In [3]:
# Load/Read data from a CSV file
# read_*** can be of anything from sql, xml, pickle, json or csv etcc
df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

In [4]:
# Show the first 5 rows by default
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
# Show the first 10 rows
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [6]:
# Show the last 5 rows by default
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
# To use local files, download the csv from internet
# this is not pandas, basic linux command to download csv
! wget https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv

In [ ]:
# Load CSV files from local database
df = pd.read_csv('./iris.csv')
df.head()

## Pandas exploratory methods

1. `info()`
2. `describe()`

In [ ]:
df.info()

In [ ]:
df.describe()

## Filtering a Data Frame - Why do we need filtering?

- When we need to remove redundant or unnecessary data for some tasks.
- When we need to find customers eligible for a promotion
- When we need to filter out rows or columns have missing values.
- When we want to fileter customers baed on the amount spent.

### Filtering a Data Frame
- Filtering with `loc` and `iloc` methods
- Filtering by selecting a subset of columns
- Filtering by conditions(s)


#### Filtering a Data Frame - `loc` and `iloc` methods
- `loc` uses row and column lables.
- `iloc` uses row and column indexes.

In [7]:
# Lets select a Series
df["species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [8]:
# Lets apply first very simple filter
df["species"] == 'versicolor'
(df["species"] == 'versicolor') & (df["petal_length"] >= 5.0)

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [9]:
# Lets apply first very simple filter
# df[df["species"] == 'versicolor']
df[(df["species"] == 'versicolor') & (df["petal_length"] >= 5.0)]

    sepal_length  sepal_width  petal_length  petal_width     species
77           6.7          3.0           5.0          1.7  versicolor
83           6.0          2.7           5.1          1.6  versicolor

## Handling missing values in Pandas

In [10]:
# For a series, you can fill null values with
df['petal_width'] = df['petal_width'].fillna(1.2)

In [11]:
df = df.fillna(1.2)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
# Filters the DataFrame df to include only rows where none of the values are missing (non-NA).
df[~df.isna()]

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [13]:
df.dropna()

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Sorthing and others

In [ ]:
df.sort_values('sepal_width', ascending=False)

In [ ]:
# Create a new column
# How to replace the value
# How to drop the column
# Show apply -> mostly not used because it lets you create a custom function

In [ ]:
df['big_flower'] = (df['sepal_length'] > 5) & (df['petal_length'] > 3)

In [ ]:
df['big_flower'].value_counts()

In [ ]:
df.replace('setosa', 'setosa-flower', inplace=True)

In [ ]:
df.head()

In [ ]:
df.replace('setosa-flower', 'setosa', inplace=True)

In [ ]:
def big_flower_str(x):
  if x is False:
    return "Small Flower"
  else:
    return "Big Flower"

In [ ]:
df['size_of_flower'] = df['big_flower'].apply(big_flower_str)
df.head()

In [ ]:
df['size_of_flower'].value_counts()

In [ ]:
# axis 0 stands for column
# axis is N stands for rows.
df.drop('big_flower', axis=1, inplace=True)

## Data Analysis with Pandas

- Data Analysis: The process of referring insights

In [14]:
# Lets start with a question

# Each of the species of the flower is a little bit different from each other
# and I need a way to get metrics for each of the species differently

# Performed level 2 analysis with one line

# Mean - Average of a column
# Median - the middle of an ascending data

df.groupby('species').agg({
    'sepal_length': 'mean',
    'sepal_width': 'mean',
    'petal_length': 'median',
    'petal_width': 'median',
}).reset_index()

      species  sepal_length  sepal_width  petal_length  petal_width
0      setosa         5.006        3.418          1.50          0.2
1  versicolor         5.936        2.770          4.35          1.3
2   virginica         6.588        2.974          5.55          2.0

In [15]:
df.groupby(['species', 'size_of_flower']).agg({
    'sepal_length': ['mean', 'median', 'count'],
    'sepal_width': 'mean',
    'petal_length': 'median',
    'petal_width': 'median',
})

KeyError: 'size_of_flower'

In [ ]:
# Syntax for concat and merge

# pd.concat(df1, df2, axis=0)

# pd.merge(df1, df2, on='join_column', how='inner')